<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Galactus</title>
    </head>    

 
    <body>
        <h1>List of Tasks</h1>
        <form action="/add" method="POST">
          <div>
              <label for="title">Enter Task</label>
              <input type="text" name="title" placeholder="Enter Here..">
              <button type="submit">Add</button> 
          </div> 
        </form > 
         {% for todo in list %}
          <p>{{todo.id}}|{{todo.title}}</p>
  
          {% if todo.complete ==False %}
            <span>Incomplete</span>       
          {% else %}
            <span>Completed</span>
          {% endif %}   

          <a href="/update/{{todo.id}}">Done</a>
          <a href="/delete/{{todo.id}}">Delete"</a>
   
         {% endfor %}
    </body>
</html>
